.gradle/
build/
**/build/
out/
gradle-app.setting
.gradletasknamecache

*.jar
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iws
*.iml
*.ipr

.settings/
bin/
.classpath
.project

.vscode/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.hprof

secrets.properties
gradle.properties
local.properties
.env
